@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  /* Allow changing font family via CMS */
  html {
    font-family: var(--font-family);
    scroll-behavior: smooth
  }

  mark {
    @apply bg-accent text-accent-content;
  }

  /** Remove default styles from input[type=number] */
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Disable scroll once drawer/modal is openned */
  body:has(.drawer-toggle:checked),
  body:has(.modal-toggle:checked) {
    overflow: hidden;
    height: 100vh;
  }
}

@layer components {
  .features {
    @apply flex items-center justify-center gap-6 flex-wrap;
    @apply relative max-w-[1280px] mx-auto;
  }

  .feature-card {
    @apply w-[380px] max-w-[380px] lg:h-[380px] bg-[#F4F4F4] rounded-3xl;
    @apply border-l border-transparent duration-200 whitespace-pre-line text-center;
    @apply flex flex-col items-center justify-start gap-8 py-10 px-8 lg:px-12;
  }
}

.group:disabled .group-disabled\:animate-progress {
  animation: progress-frame ease normal
}

.title {
  @media (min-width: 1200px) {
    font-size: 5rem;
  }
  font-size: calc(1.25rem + 3.5vw);
}


.clip-path-bg {
  clip-path: polygon(0px 0px, 100% 0px, 100% 100%, 0px 100%);
}

.grid-service {
  grid-template-columns: 70px 1fr;
}

.grid-location {
  @media (min-width: 1200px) {
    grid-template-columns: 300px 1fr;
  }
  grid-template-columns: 70px 1fr;
}

.service-title {
  font-size: calc(1.3rem + .6vw);
}

.contact-title {
  @media (min-width: 1200px) {
    font-size: 4rem;
  }

  font-size: calc(1.575rem + 3.9vw);
}

.jaralax-image {
  object-fit: cover;
  object-position: 50% 50%;
  max-width: none;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 1556px;
  height: 912.8px;
  overflow: hidden;
  pointer-events: none;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  margin-top: 22.6px;
  transform: translate3d(0px, 32px, 0px);
}

@keyframes progress-frame {
  0% {
    --dot-progress: 0%
  }

  to {
    --dot-progress: 100%
  }
}